*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pointer {
  cursor: pointer;
}

.blog-home {
  display: flex;
  flex-direction: column;
}
.blog-heading {
  padding: 2em;
  display: block;
  text-align: center;
}
.blog-image img {
  height: auto;
}
