@import '../../sass/global';
.blog{
  // padding: 80px 90px;
  display: flex;
  flex-direction: column;
  .contact_side{
    left: 0;
    right: auto;
    &__icon{
      background: white;
      box-shadow: 0px 1px 10px 0 rgba(61, 30, 4, 0.349);
      .btn-icon{
        color: $swiggy  !important;
        
      }
    }
  }
  &__home{
    padding: 0px 70px;
    color: white;
    background-color: $swiggy;
    height: 100vh;
    display: flex;
    // align-items: center;
    justify-content: center;
    &__container{
      display: flex;
      padding-top: 180px;
      flex-direction: column;

      .blog-avatar{
        margin: 0 auto;
        height: 200px;
        width: auto;
        background-position: center;
        background-size: cover;

      }
      &--content{
        text-align: center;
        .blog-title{
          font-size: 2.7rem;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          color: #ffffff;
          font-weight: 500;
        }
        .blog-description{
          font-size: 1.7rem;
          font-weight: 400;
          letter-spacing: 1.5px;
        }
      }
      
    }
  }
  &-main-bg{
    padding: 0px 90px;
    background-color: $grey-bg;
    position: relative;
    .blog-main{
      position: relative;
      top:-120px;
      padding: 30px 40px;
      height: 100%;
      background: #ffffff;
      box-shadow: 0 30px 30px 0 rgba(49, 49, 49, 0.212);


      // blog post header styling
      .blog-post{
        padding: 1em 0em;
        position: relative;
        width: 80%;
        margin: 0 auto;
        a{
          // font-size: 3rem;
          &:hover{
            color: $swiggy;
          }
          color: $dark-back2;
          z-index: 200;
          h1{
            font-weight: 500;
            font-size: 3.5rem;
          }
          
        }
        &-meta{
          padding-top: 5px;
          padding-bottom: 20px;
          padding-left: 20px;
          .created-at{
            color: #888888;
            font-weight: 500;
            letter-spacing: 1.2px;
            font-size: 0.8rem;
          }
        }
        &-grp{
          display: flex;
          justify-content: flex-start;
          padding: 2rem 0;
          .btn{
            background: $swiggy;
            width: 180px;
            text-align: center;
              padding: 10px 10px;
              font-size: 1.2rem;
              letter-spacing: 1.5px;
              font-weight: 500;
              text-transform: uppercase;
              color: white;

              &:hover{
                color: white;
              }
          }
          .read-later{
            background: white;
            border: 1px solid $swiggy;
              color: $swiggy;
            &:hover{
              color: $swiggy;
              box-shadow: 0 6px 10px 0 rgba(168, 168, 168, 0.322);
            }
            
          }
          .read-on{
            margin-right: 1.5rem;
            &:hover{
              box-shadow: 0 6px 10px 0 rgba(168, 168, 168, 0.418);
            }
          }
        }
        &-para{
          font-size: 1.4rem;
          color: $dark-back2;
          letter-spacing: 1.2px;
          line-height: 1.5;
        }
        .post-letter{
          font-size: 7rem;
          top:-20px;
          left:0;
          position: absolute;
          z-index: 1;
          color: rgba(0, 0, 0, 0.07);
          // -ms-transform: translate(0,-50%);
          // transform: translate(0,-50%);
          left: -2rem;
          user-select: none;
          pointer-events: none;
          text-transform: uppercase;
        }
      }
      &-head{
        margin: 0 auto;
        text-align: center;
        padding: 60px 0;
        h3{
          font-size: 1.5rem;
          text-transform: uppercase;
          position: relative;
          &::after{

            content: '';
            position: absolute;
            left:0;
            right: 0;
            margin: 0 auto;
            bottom: -10px;
            width: 100px;
            height: 2px;
            background: $swiggy;
          }
        }
      }
    }
  }
}

.post-main{
  padding-top: 200px;
  background: $swiggy;
  .post-wrapper{
    background: $grey-bg;
    padding: 0 90px;
    &-card{
      background: white;
      padding: 80px 80px;
      margin: 0 auto;
      
      position: relative;
      top: -100px;
      box-shadow: 0 30px 30px 0 rgba(49, 49, 49, 0.212);
      &-heading{
        // text-align: center;
        padding: 0 4rem;
        h1{
          font-weight: 500;
          font-size: 4rem;
          color: $dark-back2;
        }
      }
      &-content{
        padding: 2rem 4rem;
        p{
          font-size: 1.2rem;
          line-height: 1.5;
          letter-spacing: 1.2px;
          padding: 10px 0px;
        }
        h2{
          font-size: 2rem;
          font-weight: 500;
          letter-spacing: 1.2px;
          margin-top: 1em;
        }
        ol{
          li{
            font-size: 1.2rem;
            line-height: 1.5;
            letter-spacing: 1.2px;
          }
        }
        h3 {
          font-size: 1.5rem;
          font-weight: 500;
          margin-top: 1em;
        }
        em{
          background: $grey-bg;
          font-size: 0.9rem;
          line-height: 1.6;
          color: $dark-back2;
        }
      }
    }
  }
}