#about{
  background: #3cb0f2;
  padding-top: 90px;
  padding-bottom: 80px;
  text-align: center;
  color: white;
  /* overflow: hidden; */
}

.about-desc{
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
}