@import '../../sass/global';
.navbar-wrapper {
  font: 12px "opensans-bold", sans-serif;
  width:100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 100;
  text-align: center;
  padding: 0 4em;
  align-items: center;
  
  
};
.navbar-bars, .nav-sidebar{
  display: none;
}

.nav{
  min-height: 48px;
  width: auto;
  text-align: center;

}
ul li {
  position: relative;
  list-style-type: none;
  display: inline-block;
}
/* Links */
li>a {
  display: inline-block;
  padding: 10px 13px;
  text-decoration: none;
  color: rgb(34, 33, 33);
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
ul li a:active{
  color: #3cb0f2;
}
ul li.current a{
  color: #3cb0f2;
}
.navbar-logo{
  padding: 10px 0px;
  height: 55px;
  width: auto;
}
.navbar-blog a {
  text-decoration: none;
  cursor: pointer;
  color: #3cb0f2;
  font-size: 1.2em;
  border: 1px solid #3cb0f2;
  padding: 10px 15px;
  border-radius: 10px;
  transition: ease-out 0.2s;
  text-transform: none;
}
.navbar-blog a:hover{
  color: white;
  background-color: #3cb0f2;
  transition: ease-in 0.2s;
}

@media screen and (max-width: 426px) {
  .nav, .navbar-blog{
    display: none;
  }
  .navbar-wrapper {
    .navbar-bars{
      display: block;
      font-size: 1.5rem;
      color: $primary-blue;

    }
    
  }
  .nav-sidebar{
    position: fixed;
    background: white;
    top:0;
    right:0;
    width: 250px;
    height: 100%;
    z-index: 10000;
    overflow-y: hidden;
    box-shadow: 1px 0 10px 0 #71727271;
    display: flex;
    flex-direction: column;
    &-head{
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      background: $primary-blue;
      color: white;
      align-items: center;
      h3{
        font-size: 1.3rem;
        font-weight: 500;
      }
    }
    &-links{
      padding: 20px 25px;
      display: flex;
      flex-direction: column;
      a{
        padding: 15px 10px;
        text-transform: uppercase;
        color: $dark-back2;
        &:hover{
          background: $primary-blue;
          color: white;
        }
      }
    }
  }
  .open{
    display: block;
  }
  .close{
    display: none;
  }
}